.andersen-front-listing {
    padding-top:@header-height;
}

.andersen-index-listing {
    .andersen-indexpost-item {
        border-top:1px solid @baseContrastMore;
        padding-top:6rem;
    }
}
[class*="andersen-index-listing-"] {

    .andersen-indexpost-item:first-child {
        border-top:1px solid @baseContrastMore;
        padding-top:6rem;
    }
}
.andersen-indexpost-item {

    .andersen-width;
    margin-top:5rem;

    &:first-child {
        padding-top:0;
        border-top:none;
    }

    &:last-child {
        margin-bottom:5rem;
    }

    .andersen-indexpost-img {
        margin-bottom:2rem;
    }

    .andersen-indexpost-item-inner {

        .andersen-indexpost-meta,
        .andersen-indexpost-readmore {
            color:lighten(@text-color,15);
            .andersen-alt-text;
        }

        .andersen-indexpost-meta {
            margin:0;

            span {
                font-style: italic;
            }
        }
        .andersen-indexpost-entry-title {
            margin:0 auto 1rem;
            a {
                color:inherit;

                &:hover {
                    color:@link-color;
                }
            }
        }

        .andersen-indexpost-item-excerpt {
            margin-bottom: 0.8rem;
        }

        .andersen-indexpost-readmore {
            margin-bottom: 0;
            color:@link-color;

        }

    }

    .andersen-indexpost-item-img {

    }
}
.andersen-load-more-posts  {
    .andersen-width;
    margin-bottom:7rem;
}