.spanky-front-listing {
    padding-top:@header-height;
}

.spanky-indexpost-item {

    .spanky-width;
    border-top:1px solid @gray;
    margin-top:3rem;
    padding-top:3rem;

    &:first-child {
        border-top:none;
    }

    .spanky-indexpost-img {
        margin-bottom:1rem;
    }

    .spanky-indexpost-item-inner {
        .spanky-indexpost-meta {
            margin:0 auto 1rem;
        }
        .spanky-indexpost-entry-title {
            margin:0 auto 0.4rem;
            a {
                color:inherit;
            }

        }

        .spanky-indexpost-item-excerpt {
      
        }

        .spanky-indexpost-readmore {

        }

    }

    .spanky-indexpost-item-img {

    }
}