.spanky-nav-menu {
    li {
        display: inline-block;
        a {
            .spanky-link;
            color:@gray-lighter;
            margin:0 0.2rem;
            padding:0.2rem 0.6rem;
            font-family:@font-family-sans-serif;
            font-size:@font-size-small;
        }
    }
}