.andersen-menu-toggle {
    visibility: hidden;
    position: fixed;
    top:20px;
    right:0;
    z-index: 140;
}

.menu-open {

    .translate3d( -@floating-menu-width, 0, 0 );
    .transition(.5s all);

    .andersen-header {
        display: block;
        padding:0;
        width:@floating-menu-width;
        position: fixed;
        right:-@floating-menu-width;
        top:0;
        bottom:0;
        .opacity(1);
        .box-shadow(inset 8px 0 8px -8px rgba(0,0,0,1.0));
    }

    .andersen-nav-menu {
        padding:0;
        li {
            text-align: left;
            line-height: 1;
            display: block;

            a {
                display: block;
                padding:1.2rem 1rem;
                border-bottom:1px solid lighten(@dark,3);
            }
        }
    }
}

.sb-menu-open {
    .translate3d( @floating-menu-width, 0, 0 );
    .transition(.5s all);

    .andersen-content-left {
        display: block;
        padding:0;
        width:@floating-menu-width;
        position: fixed;
        left:-@floating-menu-width;
        top:0;
        bottom:0;
        .opacity(1);
        .box-shadow(inset 8px 0 -8px -8px rgba(0,0,0,1.0));
    }
}

// admin bar fixes
.admin-bar {
    .andersen-menu-toggle{
        top:20px + @adminbar;
    }
    &.menu-open {
        .translate3d( -@floating-menu-width, -@adminbar, 0 );
    }
}