@media (max-width:1080px){
    .spanky-content-right{

        padding-left: 295px;
        padding-right:15px;
    }
        .spanky-indexpost-item:first-child {
        margin-top: 2rem ;
    }
}
@media(max-width:767px) {
    .spanky-menu-toggle {
        visibility: visible;
    }

    .spanky-header {
        position: absolute;
        .opacity(0);
    }

    .spanky-content-left {
        width:100%;
        position: static;
        bottom: auto;
    }
    .spanky-content-right,
    .spanky-entry-content {
        padding:1rem;
    }
    .spanky-brand-block .spanky-site-title {
        z-index: 120;
    }

}