@media (max-width:1080px){
    .andersen-content-right{
        p,ul,ol,h1,h2,h3,h4,h5,h6,.andersen-page-links, .andersen-post-meta,.sharedaddy.sd-sharing-enabled,.andersen-story-pager,.aesop-image-component-caption,.aesop-video-component-caption,.aesop-documument-component{
            padding-left: 15px;
            padding-right:15px;
        }

        .andersen-indexpost-entry-title,
        .andersen-indexpost-meta,
        .andersen-post-meta {
            padding-left: 0;
            padding-right:0;
        }
        .aesop-sequence-img-wrap .aesop-sequence-caption {
            padding-left: 6.5rem;
            &:before {
                left:15px;
            }
        }
    }
    .andersen-indexpost-item:first-child {
        margin-top: 2rem ;
    }
    .andersen-index-listing {
        padding-left:1rem;
        padding-right: 1rem;
   }
}
@media(max-width:768px) {

    .andersen-brand-block {
        position: fixed;
        float:none;
        width:100%;
        top:0;
        left:0;
        right:0;
    }

    .andersen-menu-toggle,
    .andersen-sb-toggle {
        visibility: visible;
        z-index: 141;
        top:20px;
        .andersen-btn-toggle;
    }

    .andersen-menu-toggle {
        position: fixed;
        right:0;
    }
    .andersen-sb-toggle {
        left:@sb-width + 4;
        border-radius:0 2px 2px 0;
        display: block;
        width:22px;
        top:auto;
        bottom:100px;
        padding:.2rem .75rem .1rem;

        &:before {
            position: fixed;
            content:'';
            left:0;
            top:@header-height;
            bottom:0;
            height:100%;
            width:4px;
            border-right:4px solid @dark;
            .transition(left .3s ease-in-out);
        }

    }
    .andersen-menu-toggle {
        border-radius:2px 0 0 2px;
    }
    .menu-open{
        .andersen-menu-toggle {
            .andersen-menu-toggle-open;
        }
    }

    .sb-menu-open {
        .andersen-sb-toggle{
            .andersen-menu-toggle-open;


            &:before {
                .transition(left .3s ease-in-out);
                left:@sb-width;
            }
        }

        .andersen-content-left {
            left:0;
            bottom:0;
            .opacity(1);
        }
    }
    .andersen-content-left,
    .andersen-header {
        top:@header-height;
    }

    .andersen-content-left {
        left:-@sb-width;
        .transition(left .3s ease-in-out);
    }
    .andersen-header {
        height: 100%;
        width:@sb-width;
        right:-@sb-width;
        background: lighten(@dark,10);
        .transition(right .3s ease-in-out);
    }

    .andersen {

        .page-template-template-sidebar-php .andersen-footer,
        .andersen-footer {
            padding-left: 0;
        }
        .andersen-content-right ,
        .andersen-entry-content {
            padding-left: 0;
            padding-top:1rem;

        }
        .andersen-front-listing,
        .andersen-footer-text {
            padding-left:1rem;
            padding-right:1rem;
        }

        .andersen-index-listing {

            padding-left:0;
            padding-right: 0;

            .andersen-indexpost-item {
                padding-top:3rem;
                margin-top: 2rem;
                margin-bottom: 2rem;

                &:first-child {
                    margin-top: 0;
                    padding-top:1rem;
                }
            }
        }
        .andersen-brand-block .andersen-site-title {
            z-index: 120;
        }
        .andersen-story-pager {
            padding-left:1rem;
            padding-right:1rem;
            a {
                img {
                    max-width:40px;
                }
                p {
                    font-size:1.2rem;
                    margin:0.25rem 0 0 0;
                }
                .andersen-post-adjacent-title {
                    font-size:1.6rem;
                    clear:both;
                    margin-top:0.5rem;
                    padding-left:0;
                    margin-left:0;
                }
            }
        }
        .andersen-post-adjacent.next img{
            margin-bottom: 0.5rem;
        }
        .andersen-load-more-posts {
            margin-bottom: 2rem;
        }
        .aesop-story-highlights-shortcode {
            padding-left:0;
        }

        .andersen-post-meta .andersen-cat-links, 
        .andersen-post-meta .andersen-tag-links {
            float: none;
            width:100%;
            margin-bottom: 0.5rem;
        }
        .andersen-post-meta .andersen-tag-links {
            left:8px;
        }
        .andersen-comments-toggle {
            float: none;
            width:100%;
            left:11px;
        }
        .andersen-comments-wrap {
            margin-top:0;
        }
        ol.commentlist li.comment {
            padding:0;
        }

    }
}

@media(max-width:480px){
    .andersen {
        font-size: @font-size-base - 2;

        h1 { font-size: @font-size-h1 - 2;}
        h2 { font-size: @font-size-h2 - 2;}

    }
}