.spanky-brand-block {
    height:@header-height;
    background:@dark;

    .spanky-site-title {
        margin:0;
        padding:1rem;
        position: relative;
        top:7px;
        font-size:3rem;
    }
}

.spanky-meta-block {
    background:@brand-warning;
    padding:2rem 1rem;

    .spanky-entry-title {
        margin:0;
        padding-bottom:4rem;
        font-size:2.6rem;
        text-align: center;
        text-shadow:0 1px 0 rgba(255,255,255,0.3);
    }

    .spanky-meta-block-author {
        position: relative;
        bottom:0;
        .clearfix();

        .avatar {
            float:left;
            padding:0.3rem;
            border-radius:50%;
            background: darken(@brand-warning,3);
            border:1px solid darken(@brand-warning,8);
            .box-shadow(0 1px 1px -1px rgba(255,255,255,1.0));
        }
        span {
            display: block;
            padding-left:1rem;
            overflow: hidden;
            font-family: @font-family-sans-serif;
            text-shadow:0 1px 0 rgba(255,255,255,0.3);
        }
        .spanky-posted-by {
            padding-top:0.4rem;
            font-size: @font-size-small - 3;
            line-height: @font-size-small;
            font-style: italic;
        }
        .spanky-author-name {
            font-weight:bold;
            font-size: @font-size-small + 2;
            line-height: @font-size-small + 2;
        }
    }
}

.spanky-sb-heading {
    margin:0;
    background:lighten(@dark,5);
    color:@gray-lighter;
    font-weight: normal;
    font-family: @font-family-sans-serif;
    padding:1.2rem 1rem;
}

.spanky-post-meta {
    color:@text-color;
    font-family: @font-family-sans-serif;
    font-size: @font-size-small;
    border-top:1px solid @baseContrast;
    border-bottom:1px solid @baseContrast;
    padding:0.4rem 0;
    .clearfix();
    margin-top:4rem;

    .spanky-cat-links,
    .spanky-tag-links {
        position: relative;
        padding-left:22px;
        margin:0;
        line-height: 1;
        width:48%;
        float:left;

        span {
            vertical-align: middle;
            position: relative;
            top:1px;
            color:fadeout(@text-color,25);
        }

        &:before {
            font-family: FontAwesome;
            font-size: @font-size-xsmall;
            position: absolute;
            left:0;
            top:2px;
        }
        a {
            font-family: @font-family-sans-serif;
            color:inherit;
            margin-right:4px;
            font-size: @font-size-xsmall;

            &:hover {
                color:@link-color;
            }
        }
    }
    .spanky-cat-links {
        padding-left:29px;
        &:before {
            left:0.6rem;
            content:'\f0ca';
        }
    }
    .spanky-tag-links {
        float: right;
        &:before {
            left:4px;
            content:'\f02e';
        }
    }
}