.spanky-brand-block {
    height:@header-height;
    background:@dark;

    .spanky-site-title {
        margin:0;
        padding:1rem;
        position: relative;
        top:7px;
        font-size:3rem;
    }

    &.is-page {
        float: left;
    }
}

.spanky-meta-block {
    background:@brand-warning;
    padding:2rem 1rem;

    .spanky-entry-title {
        margin:0;
        padding-bottom:4rem;
        font-size:2.6rem;
        text-align: center;
        text-shadow:0 1px 0 rgba(255,255,255,0.3);
    }

    .spanky-meta-block-author {
        position: relative;
        bottom:0;
        .clearfix();

        .avatar {
            float:left;
            padding:0.3rem;
            border-radius:50%;
            background: darken(@brand-warning,3);
            border:1px solid darken(@brand-warning,8);
            .box-shadow(0 1px 1px -1px rgba(255,255,255,1.0));
        }
        span {
            display: block;
            padding-left:1rem;
            overflow: hidden;
            font-family: @font-family-sans-serif;
            text-shadow:0 1px 0 rgba(255,255,255,0.3);
        }
        .spanky-posted-by {
            padding-top:0.4rem;
            font-size: @font-size-small - 3;
            line-height: @font-size-small;
            font-style: italic;
        }
        .spanky-author-name {
            font-weight:bold;
            font-size: @font-size-small + 2;
            line-height: @font-size-small + 2;
        }
    }
}

.spanky-sb-heading {
    margin:0;
    background:lighten(@dark,5);
    color:@gray-lighter;
    font-weight: normal;
    font-family: @font-family-sans-serif;
    padding:1.2rem 1rem;
}

.spanky-post-meta {
    color:fadeout(@text-color,10);
    font-family: @font-family-sans-serif;
    font-size: @font-size-small;
    padding:0.8rem 0;
    background: @baseContrast;
    border-top:1px solid @baseContrastMore;
    border-bottom: 1px solid @baseContrastMore;
    .clearfix();

    .spanky-cat-links,
    .spanky-tag-links {
        position: relative;
        padding-left:22px;
        margin:0;
        line-height: 1;
        width:45%;
        float:left;

        span {
            vertical-align: middle;
            position: relative;
            top:1px;
            color:fadeout(@text-color,25);
        }

        &:before {
            font-family: FontAwesome;
            font-size: @font-size-xsmall;
            position: absolute;
            left:0;
            top:2px;
        }
        a {
            font-family: @font-family-sans-serif;
            color:inherit;
            margin-right:4px;
            font-size: @font-size-xsmall;

            &:hover {
                color:lighten(@text-color,10);
            }
        }
    }
    .spanky-cat-links {
        padding-left:33px;
        &:before {
            left:12px;
            content:'\f0ca';
        }
    }
    .spanky-tag-links {
        &:before {
            left:4px;
            content:'\f02e';
        }
    }
}

.spanky-story-pager {
    .clearfix();
    padding:2rem 0;
    text-align: center;
    position: relative;
    font-size: @font-size-small;
    font-family: @font-family-sans-serif;

    a {
        float:left;
        color: inherit;
        width:50%;
        
        img {
            max-width:60px;
            border-radius:50%;
        }

        p {
            text-transform: uppercase;
            font-size: @font-size-xsmall;
            margin:1rem 0 0;

        }

        .spanky-post-adjacent-title {
            margin:0;
            display: block;
        }

        &.previous {
            text-align: left;

            img {
                float: left;
                margin-right:1rem;
            }
        }

        &.next {
            text-align: right;
            float:right;

            img {
                float: right;
                margin-left:1rem;
            }
        }
        &:hover {
            text-decoration: none;
        }
    }
}
