.spanky-header {
	width:100%;
	min-height: @header-height;
	background:@dark;
	position: fixed;
    z-index: 120;
    padding-left:@sb-width;
}
.spanky-content-left {
	width:@sb-width;
	height:100%;
	top:0;
	bottom:0;
	position: fixed;
    z-index: 121; //clears header
	background:lighten(@dark,10);
}
.spanky-content-right {
	padding-left:@sb-width;
}

.spanky-entry-content {
    padding-top: 12rem;
    padding-bottom: 8rem;

    p,ul,ol,h1,h2,h3,h4,h5,h6,.spanky-page-links, .spanky-post-meta {
    	.spanky-width;
    }

    &.spanky-top-space {
        margin-top:@header-height;
    }
}

.spanky-sb {

}

//widgets
.spanky-widget {
    ul,ol {
        list-style:none;
        margin:0;
        .spanky-alt-text;
        color:@gray-light;
        padding:1rem;
    }

    a {
        color:@gray-light;
        text-decoration: underline;
    }
}

// admin bar fixes
.admin-bar {
    .spanky-content-left {
        top:32px;
    }
}