header {
	width:100%;
	min-height: @header-height;
	background:@dark;
	z-index: 99;
	position: relative;
}
.spanky-content-left {
	width:@sb-width;
	height:100%;
	top:0;
	bottom:0;
	position: fixed;
	background:lighten(@dark,10);
}
.spanky-content-right {
	padding-left:@sb-width;
}

.spanky-entry-content {
    padding-top: 8rem;
    padding-bottom: 8rem;

    p,ul,ol,h1,h2,h3,h4,h5,h6 {
    	width:100%;
    	max-width:800px;
    	margin-left:auto;
    	margin-right:auto;
    }
}